@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC</h1>
    <p class="lead">
        ASP.NET MVC 匯出 Excel - 讓使用者挑選要匯出的資料欄位
    </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>匯出 Excel - Customers</h2>
        <p>
            Northwind - Customers            
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Customer")">Demo... &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>匯出 Excel - Products</h2>
        <p>
            Northwind - Products
        </p>
        <p>
            <a class="btn btn-default" href="@Url.Action("Index", "Product")">Demo... &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
    </div>
</div>      
<hr/>
<div class="row">
    <div class="col-md-12">
        <p>
            <a href="http://kevintsengtw.blogspot.tw/2014/09/aspnet-mvc-excel-excel.html" target="_blank">
                ASP.NET MVC 匯出 Excel 簡單做 - 自訂匯出 Excel 檔案的檔名
            </a>
        </p>     
        <p>
            <a href="http://kevintsengtw.blogspot.tw/2014/09/aspnet-mvc-excel-part1.html" target="_blank">
                ASP.NET MVC 匯出 Excel - 讓使用者挑選要匯出的資料欄位 Part.1
            </a>
        </p>
        <p>
            <a href="http://kevintsengtw.blogspot.tw/2014/10/aspnet-mvc-excel-part2.html" target="_blank">
                ASP.NET MVC 匯出 Excel - 讓使用者挑選要匯出的資料欄位 Part.2
            </a>
        </p>
        <p>
            <a href="http://kevintsengtw.blogspot.tw/2014/10/aspnet-mvc-excel-part3.html" target="_blank">
                ASP.NET MVC 匯出 Excel - 讓使用者挑選要匯出的資料欄位 Part.3
            </a>
        </p>
        <p>
            <a href="http://kevintsengtw.blogspot.tw/2014/10/aspnet-mvc-excel-part4.html" target="_blank">
                ASP.NET MVC 匯出 Excel - 讓使用者挑選要匯出的資料欄位 Part.4
            </a>
        </p>
    </div>
</div>